@model IEnumerable<CashRegister>

@{
    ViewData["Title"] = "Histórico días";
}

<h2>Histórico días</h2>

@if (ViewBag.BranchId != null)
{
    <p>
        @if (ViewBag.CashRegisterId == null)
        {
            <a asp-action="Start" class="btn btn-outline-success">Iniciar día</a>
        }
        else
        {
            <a asp-action="End" class="btn btn-outline-warning">Terminar día</a>
        }
    </p>
}


<table class="table">
    <thead>
        <tr class="table-primary">
            <th>Fecha de inicio</th>
            <th>Fecha final</th>
            <th>Monto inicial</th>
            <th>Monto final</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Estatus</th>
            <th>Sucursal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OpeningDate</td>
                <td>@item.ClosingDate</td>
                <td>@item.InitialAmount</td>
                <td>@item.FinalAmount</td>
                <td>@item.CashInflow</td>
                <td>@item.CashOutflow</td>
                <td>@item.Branch?.Name</td>
                <td>
                    @if (@item.CashRegisterStatusId == CashRegisterStatus.Open)
                    {
                        <span class="badge bg-success">Abierto</span>
                    }
                    else{
                        <span class="badge bg-danger">Cerrado</span>
                    }
                </td>
                <td>

                    @if (@item.CashRegisterStatusId == CashRegisterStatus.Closed)
                    {
                        <a asp-action="PrintCashRegister" asp-route-id="@item.Id" class="btn btn-info">Imprimir</a>

                    }
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> | *@

                    @* |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
