@model IEnumerable<HospitalCashRegister.Models.Patient>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear nuevo paciente</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Nombre 
            </th>
            <th>
                Apellido
            </th>
            <th>
                No. Telefónico 1
            </th>
            <th>
                No. Telefónico 2
            </th>
            <th>
                Dirección
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <partial name="DetailsButton" model=item />
                @if (User.IsInRole("Admin"))
                {
                    <partial name="EditButton" model=item />
                        

                    <partial name="DeleteButton" model=item />
                }
            </td>
        </tr>
}
    </tbody>
</table>
