@model IEnumerable<HospitalCashRegister.Models.Patient>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create">Crear nuevo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre 
            </th>
            <th>
                Apellido
            </th>
            <th>
                No. Telefónico 1
            </th>
            <th>
                No. Telefónico 2
            </th>
            <th>
                Dirección
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                        
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
