@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Transacciones";
}

@if (@ViewBag.CashRegisterId != null || User.IsInRole("Admin"))
{
    <h2>Transacciones</h2>
    <p>
        @if (!User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-outline-primary">Nueva transacción</a>
            <a asp-action="CreatePayment" class="btn btn-outline-primary">Nuevo Pago</a>
        }

    </p>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Cajero</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Fecha</th>
                <th>Comentario</th>



                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cashier?.Username</td>
                    <td>@item.Amount</td>
                    <td>
                        @if (@item.TransactionTypeId == TransactionType.CashInflow)
                        {
                            <span class="badge bg-success">Ingreso de efectivo</span>
                        }
                        else if (@item.TransactionTypeId == TransactionType.CashOutflow)
                        {
                            <span class="badge bg-danger">Egreso de efectivo</span>
                        }
                        else
                        {
                            <span class="badge bg-info">Pago de servicio</span>

                        }
                        
                    </td>
                    <td>
                        @if (@item.TransactionStatusId == TransctionStatus.applied)
                        {
                            <span class="badge bg-success">Aplicada</span>
                        }
                        else if (@item.TransactionStatusId == TransctionStatus.pending)
                        {
                            <span class="badge bg-warning">Pendiente</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Cancelada</span>

                        }
                        
                    
                    </td>
                    <td>@item.Date</td>
                    <td>@item.Comment</td>
                    <td>
                        @if(item.TransactionTypeId == TransactionType.ServicePayment)
                        {
                            <a asp-action="PrintInvoice" asp-route-id="@item.Id" class="btn btn-info">Imprimir</a> 
                            <partial name="DetailsButton" model=item />

                        }
                        else
                        {
                            <a asp-action="PrintTransaction" asp-route-id="@item.Id" class="btn btn-info">Imprimir</a>
                            <partial name="DetailsButton" model=item />

                        }
                        <partial name="DeleteButton" model=item />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


