@{
    ViewData["Title"] = "Home Page";

    // Extraemos el nombre completo desde ViewBag y lo formateamos para la URL del avatar
    string fullName = ViewBag.FullName != null ? ViewBag.FullName.Replace(" ", "-") : "Usuario";
    string avatarUrl = $"https://ui-avatars.com/api/?name={fullName}&background=random";
}

<!-- Main container for the user card -->
<div class="flex">

    <div class=" flex-col md:flex-row items-center bg-light p-6 shadow-lg rounded-lg max-w-2xl mx-4 space-y-6 md:space-y-0 md:space-x-8">
        <div class="flex flex-col items-center">
            <!-- Avatar (dynamic from UI Avatars API) -->
            <img class="w-32 h-32 rounded-full border-2 border-primary" src="@avatarUrl" alt="User Avatar" />

            <!-- User details -->
            <div class="mt-4 text-center">
                <h2 class="text-xl font-semibold">Usuario</h2>
                <h1 class="text-2xl font-bold text-primary">@ViewBag.Username</h1>
            </div>

            <div class="mt-2 text-center">
                <h2 class="text-xl font-semibold">Nombre Completo</h2>
                <h1 class="text-2xl font-bold text-secondary">@ViewBag.FullName</h1>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.BranchName))
            {
                <div class="mt-2 text-center">
                    <h2 class="text-xl font-semibold">Estación</h2>
                    <h1 class="text-2xl font-bold text-info">@ViewBag.BranchName</h1>
                </div>
            }
        </div>
    </div>
    <!-- User info container -->





    <div class="w-full grid gap-3">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            @if (User.IsInRole("Admin"))
            {
                <partial name="AdminHome" />
            }
            else
            {
                <partial name="UserHome" />
            }
        </div>
        <div class="table-container" style="padding: 20px; border: 2px solid #ccc; height: 500px; overflow: scroll">
            <table class="table" style="width: 100%;">
                <thead>
                    <tr class="table-dark">
                        <th>Monto</th>
                        <th>Tipo</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Transactions)
                    {
                        <tr>
                            <td>@item.Amount</td>
                            <td>
                                @if (@item.TransactionTypeId == TransactionType.CashInflow)
                                {
                                    <span class="badge bg-success">Ingreso de efectivo</span>
                                }
                                else if (@item.TransactionTypeId == TransactionType.CashOutflow)
                                {
                                    <span class="badge bg-danger">Egreso de efectivo</span>
                                }
                                else
                                {
                                    <span class="badge bg-info">Pago de servicio</span>

                                }

                            </td>
                            <td>
                                @if (@item.TransactionStatusId == TransctionStatus.applied)
                                {
                                    <span class="badge bg-success">Aplicada</span>
                                }
                                else if (@item.TransactionStatusId == TransctionStatus.pending)
                                {
                                    <span class="badge bg-warning">Pendiente</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Cancelada</span>

                                }


                            </td>
                            <td>@item.Date</td>
                            <td>@item.Comment</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    a[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
</style>
