@model IEnumerable<Cashier>

@{
    ViewData["Title"] = "Cajeros";
}

<h2>Cajeros</h2>

<p>
    <a asp-action="Create">Crear un nuevo Cajero</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre completo</th>
            <th>Sucursal</th>
            <th>Administrador</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.FullName</td>
                <td>@item.Branch?.Name</td>
                <td>
                        @Html.CheckBoxFor(modelItem => item.Admin, new { @class = "form-check-input", @onclick = "return false;" })
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
